.component-box{
    width: 100%;
}
.component-box-list{
    width: calc(100% - 120px);
    float: left;
}
.component-box-menu{
    width: 120px;
    float: right;
    text-align: right
}
.component-box-btn-box{
    margin-bottom: 10px;
}